.FetchJobsWidth {
  width: 96%;
  margin: 0px;
}
#card_container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.card {
  width: 92%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  transition: transform ease 0.5s, box-shadow ease 0.5s;
}
.card:hover {
  transform: scale(0.97);
}
.card-img {
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: space-between;
  height: 10rem;
  width: 100%;
  background: url("../img/lightThemeMode-logo.jpg") center center;
  background-size: cover;
}
.card-img button {
  height: fit-content;
  border: none;
  padding: 2px 5px;
  margin: 0.7rem;
  font-size: 15px;
}
.card-desc {
  height: calc(100% - 10rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-margin {
  margin: 10px;
}
.card-job-main-info {
  margin: 0px 0px 30px 0px;
}
.font-size-company-name {
  margin-top: 20px;
  color: var(--color-purple);
  font-size: 30px;
  font-weight: bold;
}
.font-size-job-description {
  margin-top: 8px;
  color: var(--color-black);
  font-size: 20px;
  font-weight: bold;
}
.font-size-job-id {
  margin-top: 8px;
  color: var(--color-purple);
  font-size: 15px;
}
.job-card-detail {
  color: var(--color-gray);
  font-size: 15px;
}
.job-tags {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
}
.tag {
  font-size: 14px;
  margin: 0px 10px 0px 0px;
  padding: 0.4rem 0.6rem;
  background-color: var(--color-purple);
  color: var(--color-white);
  border-radius: 7px;
  text-align: center;
}
.links {
  margin: 15px 0px 5px 0px;
}
.btn-apply {
  background-color: var(--color-black);
  padding: 0.4rem 0.8rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-radius: 8px;
}
.btn-website {
  background-color: var(--color-black);
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
}
.links div a {
  text-decoration: none;
  color: var(--color-white);
}
.label {
  background: #22c55e;
  border-radius: 0.3rem;
  color: white;
}
